apiVersion: apps/v1
kind: Deployment
metadata:
  name: fedeployment
  namespace: tmb13fe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: prashantdey/travelmemory:fe
          ports:
            - containerPort: 3000
          env:
          - name: REACT_APP_BACKEND_URL
            valueFrom:
              secretKeyRef:
                name: frontend-secret
                key: REACT_APP_BACKEND_URL